<!-- Favicon dasar -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="48x48" href="{{ "images/favicon-48x48.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ "images/favicon-96x96.png" | relURL }}" />

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicon-180x180.png" | relURL }}" />

<!-- Fallback ICO (untuk browser lama) -->
<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}" />
